.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
}

.header i {
  margin-left: 10px;
  color: forestgreen;
}

.header label {
  display: block;
}

.form {
  position: relative;
}

input {
  border-radius: 5px;
}

.buttonCrud {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.tz {
  width: 170px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
  width: 80%;
  align-self: center;
  margin-top: 50px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
}

.item {
  position: relative;
  background-color: cadetblue;
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 15px;
}

.itemСlose {
  position: absolute;
  top: 0;
  right: 0;
  content: "X";
  display: block;
  width: 25px;
  height: 25px;
  background-color: brown;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.itemСlose:hover {
  cursor: pointer;
}

.result li span {
  width: 33%;
}

.result li span i {
  margin: 0 10px;
}

.resultHeader {
  margin-bottom: 20px;
  font-weight: bold;
}

.result ol {
  padding: 0;
}

.result li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

i {
  cursor: pointer;
}
